*{
    margin: 0px;
    padding: 0px;
}

.container{
    
    background-image: url("img/ilk.png");
    height: 120vh;
    background-size: cover;
   
    
   
}

.navbar{
    background-color:black;
  
    
    
}


    

.container .navbar{
    width: 100%;
    height: 40px;
    background-color:black;
   

}

.navbar .logo

{
    
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
}



.navbar .logo a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: aliceblue;
    
 
    
}

.navbar .logo a:hover{
    color: rgb(3, 167, 3);
}

.navbar ul{
    float: right;
   margin: 10px;
  
  
   
}




.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 8px;
    
    
}

.navbar ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
   

}

.navbar ul li a:hover{
    color: rgb(3, 167, 3);
    border-radius: 5px;
    border-right-width: 3px;
    
    

}


   
   

.container span a{
    background-color:black;
    width: 200px;
    height: 50px;
    display: block;
    color: aliceblue;
    border: 2px solid black;
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
    top: 45px;
   left: 5px;
    
}

.container span a:hover{
    color: rgb(3, 167, 3);
    display: block;
}


.container form{
    
    display: inline-block;
    padding-left: 250px;

   
   
}

#ikinciform{
    float: right;
    margin-bottom: 85px;
    margin-right: 5px;
    position: relative;
    bottom: 175px;
    
    
}

#ikinciform p{
  font-family: sans-serif;  
  
  
}



#kayitol{
    float: right;
    border-radius: 4px;
    opacity: 0.5;
    font-family: sans-serif;
    padding: 10px 10px;
    
    
}

#kayitol:hover {
background-color: chartreuse;
padding: 8px;
}
